@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Bubbles&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;

}


body {
    background-color: #D1D1D1;
    font-family: "Playfair Display", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2A3C2485;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #396E94;
    color: white;
}

.book, .join {
    background-color: #2A3C24;
    color: #4F9D69;
    text-decoration: none;
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #396E94;
    color: white;
}



nav a {
    color: #4F9D69;
    text-decoration: none;
    font-family: "Playfair Display", Arial, sans-serif;
    padding: 35px;
}

.msg h2, .msg p, h4  {
    color: black;
    font-family: "Rubik Bubbles", cursive,"Brush Script MT";
}
.home-title {
    color: white;
    font-family: "Rubik Bubbles", cursive,"Brush Script MT";
}

.icon, .logo {
    width: 80px;
}
.icon {
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-img {
    width: 100%;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}

h2 {
    font-family: "Playfair Display", Arial, sans-serif;
    margin: 0;
}
.msg {
    padding: 35px;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer; 
}

.rivers-card:hover, .camping-card:hover, .rapids-card:hover {
    transform: scale(1.05); 
    opacity: 0.75; 
}

main section img {
    box-sizing: border-box;
}
.card-img {
    border: 10px solid #2A3C24;
    transition: transform .5s;
    box-shadow: 15px 15px 20px darkgray;
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    height: 725px;
    background-color: #4F9D69;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}

.msg {
    background-color: white;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 15px 15px 20px black;
}

footer, footer a {
    background-color: #2A3C24;
    color: white;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a:hover {
    color: #396E94;
}
footer a {
    text-decoration: none;
    font-family: "Playfair Display", Arial, sans-serif;
}
footer p {
    font-size: 1.2em;
    font-family: "Playfair Display", Arial, sans-serif;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}