
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

:root {
    --heading-font: "Rubik Moonrocks";
    --paragraph-font: Lato, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    

}
#content {
    max-width: 100%;
    background-color: lightcyan;
}
nav, footer {
    background-color: beige;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
}
nav a {
    padding: 15px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    transition: .5s;
    border-radius: 90%;
}
nav a:hover {
    background-color: black;
    color: whitesmoke;
    
    opacity: .7;
    transform: scale(1.1);
}
h1 {
    text-align: center;
}

img {
    width: 40%;
    /*text-align: center;*/
    display:block;
    margin:50px auto;
    border: 4px solid steelblue;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    transition: 1s;
    box-shadow: 10px 5px 10px black;
}
img:hover {
    opacity: .7;
    transform: scale(1.05);
}
p {
    background-color: white;
    padding: 0 30px;
    line-height: 2em;
    width: 40%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    
}
#main-topic {
    color:navy;
}
footer a {
    color:teal;
}
footer a:hover {
    color: orange;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}