* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

bod {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.logo {
    width: 75px;
    margin:1em auto;
    
}

.logo img {
    width: 75px;
    margin: auto;
}

header {
    text-align: center;
    background-color: #333;
    padding: 1em;
    /* 1em = 16 pixels or the regular font size */
}
/* when there are spaces following a value
its like sayying look inside this value
like header then inside of header nav then inside of nav A  */
header nav a {
    color: white;
    text-decoration: none;

}

#banner-box {
    position: relative;
}

#banner-box h1 {
    position: absolute;
    top: 10%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 4em;
}
#banner-box p {
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

header nav a:hover {
    color: orange;
}

#product-gallery {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 1em;
    justify-content: center;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    gap: 2em;
}

#footer-logos {
    display: flex;
}
